{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<div class="body content">
  <div class="single_item expanded {{ article.state }}">
    <h3 class="item_title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
    <div class="article_body">{{ article.content }}</div>
  </div>
  {% if DISQUS_SITENAME %}
  <div class="comments">
    <h3>Comments !</h3>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_identifier = "{{ article.url }}";
      (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        document.getElementsByClassName('comments')[0].appendChild(dsq);
      })();
    </script>
  </div>
  {% endif %}
</div>
{% endblock %}
