{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
<div class="content">
  <div class="articles">
    {% for article in articles|sort(attribute='title') %}
      <span class="item {{article.state}}">
        <h3 class="item_title">
        <a href="{{ SITEURL }}/{{ article.url}}">{{ article.title|capitalize }}</a>
        </h3>
        {{article.short|capitalize}}
      </span>
    {% endfor %}
  </div>
</div>
{% else %}
{% endif %}
{% endblock content %}
